﻿@model DataModel.Reservation

@{
    ViewBag.Title = "CheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check In</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.checkInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkOutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkedOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkedOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billingFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billingFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billingLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billingLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName4)
        </dd>

       

    </dl>
</div>
<p>
    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Check In" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</p>

@Html.ActionLink("Back to List", "Index")

