﻿@model DataModel.Room

@{
    ViewBag.Title = "EditInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Inventory</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.type)

        <div class="form-group">
            @if (Model.type == 0)
            {
                @Html.TextBox("RoomTypeTextBox", "King Bed Rooms", new { @class = "control-label col-md-2" })
            }
            else if (Model.type == 1)
            {
                @Html.TextBox("RoomTypeTextBox", "Queen Bed Rooms", new { @class = "control-label col-md-2" })
            }
            else if (Model.type == 2)
            {
                @Html.TextBox("RoomTypeTextBox", "Double Bed Rooms", new { @class = "control-label col-md-2" })
            }
            else
            {
                @Html.TextBox("RoomTypeTextBox", "Suites", new { @class = "control-label col-md-2" })
            }

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.inventory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.inventory, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.inventory, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "StaffViewInventory")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
