﻿
@{
    ViewBag.Title = "FOQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Future Occupancy</h2>

<div><label>King Room Occupancy:</label>  @ViewBag.kcount</div>
<div><label>King Room Occupancy Percentage:</label>  @ViewBag.kpercent</div>

<div>
    <label>Queen Room Occupancy:</label>  @ViewBag.qcount
</div>
<div>
    <label>Queen Room Occupancy Percentage:</label>  @ViewBag.qpercent
</div>
<div>
    <label>Double Room Occupancy:</label>  @ViewBag.dcount
</div>
<div>
    <label>Double Room Occupancy Percentage:</label>  @ViewBag.dpercent
</div>
<div>
    <label>Suite Occupancy:</label>  @ViewBag.scount
</div>
<div>
    <label>Suite Occupancy Percentage:</label>  @ViewBag.spercent
