﻿@model DataModel.FOccupancy

@{
    ViewBag.Title = "FutureOccupancy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Future Occupancy</h2>

@using (Html.BeginForm("FOQuery", "Staff", FormMethod.Post))
{
    <h1>Year: </h1>
    <div>
        @Html.TextBoxFor(model => model.Year)
    @Html.ValidationMessageFor(model => model.Year)
</div>
<div>
    <h1>Month: </h1>
    @Html.TextBoxFor(model => model.Month)
    @Html.ValidationMessageFor(model => model.Month)
</div>
<div>
    <h1>Day: </h1>
    @Html.TextBoxFor(model => model.Day)
    @Html.ValidationMessageFor(model => model.Day)
</div>
<div><button type="submit">Check</button></div>

}