﻿
@{
    ViewBag.Title = "GenerateBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bill</h2>

<br />

<!--Display the reservation information-->
<div>
    <div>
        <h3>Confirmation number: @(Session["svConfirmationNum"])</h3>
    </div>
    <div>
        <h4>Room type: @(Session["svConfirmationNum"])</h4>
    </div>
    <div>
        <h4>Check in date: @(Session["svCheckInDate"])</h4>
    </div>
    <div>
        <h4>Check out date: @(Session["svCheckOutDate"])</h4>
    </div>
    <div>
        <h4>Billing guest first name: @(Session["svBillingFirstName"])</h4>
    </div>
    <div>
        <h4>Billing guest last name: @(Session["svBillingLastName"])</h4>
    </div>
    <div>
        <h4>Phone number: @(Session["svPhone"])</h4>
    </div>
    <div>
        <h4>Email address: @(Session["svEmail"])</h4>
    </div>
    <div>
        <h3>Total payment: @(Session["payment"])</h3>
    </div>

</div>

<br />
