﻿@model DataModel.Reservation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Staff Page</h2>

<div>

    <h1>@Html.ActionLink("Check Inventory", "StaffViewInventory")</h1>
    <h1>@Html.ActionLink("Occupancy", "Occupancy")</h1>
    <h1>@Html.ActionLink("Today's upcoming check-in", "TodayCheckIn")</h1>
    <h1>@Html.ActionLink("Today's upcoming check-out", "TodayCheckOut")</h1>
    <h1>@Html.ActionLink("Auto check-out for outdated reservation", "AutoCheckOut")</h1>


    @using (Html.BeginForm("CheckInHelper", "Staff", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.confirmationNum)
        @Html.ValidationMessageFor(model => model.confirmationNum)
        <button type="submit">Check In</button>
    }

    @using (Html.BeginForm("CheckOutHelper", "Staff", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.confirmationNum)
        @Html.ValidationMessageFor(model => model.confirmationNum)
        <button type="submit">Check Out</button>
    }
</div>

