﻿
@{
    ViewBag.Title = "Occupancy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Occupancy</h2>

<div><h1>@Html.ActionLink("Current Occupancy", "CurrentOccupancy")</h1></div>

<div><h1>@Html.ActionLink("Future Occupancy", "FutureOccupancy")</h1></div>