﻿@model IEnumerable<DataModel.Room>

@{
    ViewBag.Title = "StaffViewInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventory</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inventory)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.type == 0)
                {
                    <h1>King Bed Rooms</h1>
                }
                else if (item.type == 1)
                {
                    <h1>Queen Bed Rooms</h1>
                }
                else if (item.type == 2)
                {
                    <h1>Double Bed Rooms</h1>
                }
                else
                {
                    <h1>Suites</h1>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inventory)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditInventory", new { id = item.type })
            </td>
        </tr>
    }

</table>
