﻿@model IEnumerable<DataModel.Reservation>

@{
    ViewBag.Title = "TodayCheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Today's Upcoming Check-In</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.checkInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkOutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkedOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.billingFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.billingLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstName4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName4)
        </th>      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.checkInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checkOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checkedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checkedOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.billingFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.billingLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName4)
            </td>
        </tr>
    }

</table>
