﻿@model HotelReservationCodeFirst.Models.ApplicationUser

@{
    ViewBag.Title = "ManageReservations";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ManageReservations", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @foreach(DataModel.Reservation r in Model.reservations)
        {
            <div>
                @Html.ActionLink(r.confirmationNum.ToString(), "ViewReservation", "Customer", r, null);
            </div>
        }

    </div>
}