﻿@using HotelReservationCodeFirst.Models
@using DataModel
@model ConfirmReservationViewModel


@{
    ViewBag.Title = "ConfirmReservation";
}

<h2>Confirm Reservation</h2>

<!--Tabular list of the room rate on each night of stay-->
<h3>Rates on each night</h3>

@(Html.Kendo().Grid((IEnumerable<Room>)ViewBag.Rooms) //Bind the grid to ViewBag.Products
            .Name("grid")
            .Columns(columns =>
            {
                ////Create a column bound to the ProductID property.
                //columns.Bound(product => product.ProductID);
                ////Create a column bound to the ProductName property.
                //columns.Bound(product => product.ProductName);
                ////Create a column bound to the UnitsInStock property.
                //columns.Bound(product => product.UnitsInStock);
                columns.Bound(room => room.type);
                columns.Bound(room => room.inventory);
                columns.Bound(room => room.occupancy);
                columns.Bound(room => room.basicPrice);
                columns.Bound(room => room.date);
            })
            .Pageable() //Enable the paging.
            .Sortable() //Enable the sorting.
)

<br/>

<!--Enter the billing information-->
<h3>Enter billing information</h3>

@using (Html.BeginForm("ConfirmReservation", "Reserve", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="row">

            <div class="form-group">
                @Html.LabelFor(m => m.firstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.firstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.firstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.lastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.lastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.lastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.address, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.city, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.city, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.city, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.state, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.state, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.state, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.zipCode, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.zipCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.zipCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.phone, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.phone, "", new { @class = "text-danger" })
                </div>
            </div>
</div>




<br />

<!--Place reservation order-->
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Place order" class="btn btn-default" />
    </div>
</div>

}




