﻿@using HotelReservationCodeFirst.Models
@model ReserveViewModel

@{
    ViewBag.Title = "Index";
}


<h2>Reserve a new room</h2>

    <hr />

    <h3>Select check in/out date</h3>
    @(Html.Kendo().DatePicker()
            .Name("datepicker1") //The name of the DatePicker is mandatory. It specifies the "id" attribute of the widget.
            .Min(new DateTime(1900, 1, 1)) //Set the min date of the DatePicker.
            .Max(new DateTime(2099, 12, 31)) //Set the min date of the DatePicker.
            .Value(DateTime.Today) //Set the value of the DatePicker.
            .Events(e => e
                .Open("datepicker1_open")
                .Close("datepicker1_close")
                .Change("datepicker1_change")
          )
    )

    

    <hr/>

    <h3>Select check out date</h3>
    @(Html.Kendo().DatePicker()
            .Name("datepicker2") //The name of the DatePicker is mandatory. It specifies the "id" attribute of the widget.
            .Min(new DateTime(1900, 1, 1)) //Set the min date of the DatePicker.
            .Max(new DateTime(2099, 12, 31)) //Set the min date of the DatePicker.
            .Value(DateTime.Today) //Set the value of the DatePicker.
            .Events(e => e
                .Open("datepicker2_open")
                .Close("datepicker2_close")
                .Change("datepicker2_change")
          )
    )

    
    <!--Event handler-->
    <script>
        function datepicker1_open() {
            //Handle the open event
        }

        function datepicker1_close()   {
            //Handle the close event
        }

        function datepicker1_change() {
            //Handle the change event
            document.cookie = "CheckInDate=" + kendo.toString(this.value(), 'd');
        }

        function datepicker2_open() {
            //Handle the open event
        }

        function datepicker2_close() {
            //Handle the close event
        }

        function datepicker2_change() {
            //Handle the change event
            document.cookie = "CheckOutDate=" + kendo.toString(this.value(), 'd');
        }

    </script>


@*<div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            $.cookie('CheckInDate', ('#datetimepicker7').data("DateTimePicker").minDate(e.date), 7300);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            $.cookie('CheckOutDate', ('#datetimepicker6').data("DateTimePicker").maxDate(e.date), 7300);
        });
    });
</script>*@

<hr/>

<!--Display room availability-->
 <div>
     <div>
         <h4>Number of Queen bed room available: @Model.queenLeft.ToString()</h4>
     </div>
     <div>
         <h4>Number of King bed room available: @Model.kingLeft.ToString()</h4>
     </div>
     <div>
         <h4>Number of Double bed room available: @Model.doubleLeft.ToString()</h4>
     </div>
     <div>
         <h4>Number of Suite room available: @Model.suiteLeft.ToString()</h4>
     </div>
 </div>


    <hr/>

    <h3>Select room type</h3>

<!--Select the room type-->
@using (Html.BeginForm("Index", "Reserve", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">

        <div class="form-group">
            @Html.LabelFor(m => m.King, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => m.roomType, "king")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Queen, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => m.roomType, "queen")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Double, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => m.roomType, "double")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Suite, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => m.roomType, "suite")
            </div>
        </div>

        @*</div>*@

        <hr />

        <h3>Enter guests' names </h3>

            @*<div class="row">*@
                @*<div class="col-md-8">*@
                @*<section id="loginForm">*@

                <div class="form-group">
                    @Html.LabelFor(m => m.Guest1FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Guest1FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Guest1FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Guest1LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Guest1LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Guest1LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Guest2FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Guest2FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Guest2FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Guest2LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Guest2LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Guest2LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Guest3FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Guest3FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Guest3FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Guest3LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Guest3LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Guest3LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Guest4FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Guest4FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Guest4FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Guest4LastName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Guest4LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Guest4LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>    


    <br />

    <!--Button for proceed to confirm reservation-->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Proceed to check out" class="btn btn-default" />
        </div>
    </div>

    <br />

  }



 