﻿@using HotelReservationCodeFirst.Models
@model ReservationInfoViewModel

@{
    ViewBag.Title = "ReservationInfo";
}

<h2>Reservation complete!</h2>

<br/>

<!--Display the reservation information-->
<div>
    <div>
        <h3>Confirmation number: @Request.Cookies["Reservation"]["ConfirmationNumber"]</h3>
    </div>
    <div>
        <h4>Billing first name: @Request.Cookies["Reservation"]["FirstName"]</h4>
    </div>
    <div>
        <h4>Billing last name: @Request.Cookies["Reservation"]["LastName"]</h4>
    </div>
    <div>
        <h4>Room type: @(Session["RoomType"])</h4>
    </div>
    <div>
        <h4>Check in date: @(Session["CheckInDate"])</h4>
    </div>
    <div>
        <h4>Check out date: @(Session["CheckOutDate"])</h4>
    </div>

    <div>
        <h4>Phone number: @Request.Cookies["Reservation"]["Phone"]</h4>
    </div>
    <div>
        <h4>Email address: @Request.Cookies["Reservation"]["Email"]</h4>
    </div>
    <div>
        <h3>Total payment: @Model.prize.ToString() </h3>
    </div>

</div>

<br/>



